.weather{
    background-image: url(../assests/cold-bg.jpg);
    background-size: cover;
    height: 70vh;
    padding: 60px 100px;
    border-radius: 8px;
}
.temp-box{
    display: flex;
    justify-content: space-between;
    color: gray;
}
.temp-box p{
    font-size: 20px;
}
.input-box{
    padding: 7px 30px;
    border:none
}
.input-box:focus{
    outline: none;
}
.search-button{
    padding: 5px 10px;
    border:none;
    background-color: rgba(34, 34, 218, 0.877);
    color: white;
    font-size: 15px;
}
.search-button:focus{
    outline: none;
}
.search-button:hover{
    cursor: pointer;
    background-color: rgb(72, 72, 221);
}