table, th, td {
  background-color: rgb(248,248,248);
  padding: 10px;
}

table {
    width: 100%;
    padding: 15px;
    margin: auto;
    background-color:	rgb(255,255,255);
    border-radius: 8px;
}
.weatherBox{
    margin:5% auto ;
    background-image: url(../img/photo-1484542603127-984f4f7d14cb.jpg);
    background-size: cover;
    padding: 60px 100px;
    width: 30%;
    height:65vh;
    border-radius: 8px;
}
.weatherBox input{
    margin-bottom: 30px;
    padding: 7px ;
}
.weatherBox button{
    padding: 6px;
}
.inputBox{
    padding: 7px 30px;
    border:none
}
.inputBox:focus{
    outline: none;
}
.searchButton{
    padding: 5px 10px;
    border:none;
    background-color: rgba(68, 109, 221, 0.877);
    color: white;
    font-size: 15px;
}
.searchButton:focus{
    outline: none;
}
.searchButton:hover{
    cursor: pointer;
    background-color: rgb(72, 72, 221);
}